.genreContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 4px;
}

.popularContainer {
  display: flex;
  justify-content: space-around;
  gap: 8px;
  flex-direction: column;
  align-items: center;
}

.popularMovieContainer {
  display: flex;
}
