/* globals.scss */

:root {
  --background-color: #121212;
  --text-color: #e0e0e0;
  --primary-color: #bb86fc;
  --secondary-color: #0b5951;
  --border-color: #333333;
  /* Add more variables as needed */
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-rubik-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button:hover {
  cursor: pointer;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background-color: var(--primary-color);
  color: var(--text-color);
  border: 1px solid var(--border-color);
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
  font-family: var(--font-rubik-sans);
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover:not(:disabled) {
  background-color: var(--secondary-color);
}

button:disabled {
  background-color: var(--border-color);
  cursor: not-allowed;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.genreButton {
  background-color: blueviolet;
  color: white;
  font-size: 14px;
  text-align: center;
  border-radius: 12px;
  padding: 6px;
  margin: auto 2px;
}
