.mainContiner {
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
  text-align: center;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: 600;
  height: 200px;
  text-align: center;
  border-bottom: 2px var(--primary-color) solid;
  margin: 40px auto;
}
