
.mainContiner {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
  text-align: center;

}

.heading {
  font-size: 25px;
  font-weight: 600;
  text-align: center;
}