.card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 4px;
  padding: 8px 16px;
  border: 1px solid var(--border-color);
  border-radius: 12px;
  width: 384px;
  height: 750px; /* Fix the default card height */
  align-items: center;
  background-color: var(--background-color);
  color: var(--text-color);
  box-shadow: 0 4px 8px rgba(142, 116, 116, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
  position: relative; /* Enable absolute positioning for inner content */
  .imageContainer {
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden; /* Prevents overflow of absolutely positioned children */
    width: 100%;
  }
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card div:last-child {
  background: var(--background-color);
  overflow: hidden;
  text-overflow: ellipsis;
  transition: height 0.3s ease, -webkit-line-clamp 0.3s ease;
}

.card:hover div:last-child {
  -webkit-line-clamp: unset; /* Remove truncation */
  height: auto; /* Expand description smoothly */
}
