.searchContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  text-align: center;
  font-size: 20px;
  margin: 20px auto;
  border-bottom: 2px var(--primary-color) solid;
}

.searchBox {
  border: solid cadetblue 1px;
  border-radius: 12px;
  height: 40px;
  padding: 0 1px;
  font-size: 20px;
  width: 400px;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 4px;
  align-items: center;
  margin-bottom: 40px;
}

.searchResults {
  display: grid;
  width: 50%;
  margin: 4px auto 20px auto;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 12px;
  font-size: 16px;
}
