.mainContainer {
  display: flex;
  width: 100%;
  margin: 20px auto;
  gap: 2px;
  justify-content: center;

  .pButton {
    width: 40px;
    display: flex;
    text-decoration: underline;
    cursor: pointer;
    line-height: 4px;
    text-align: center;
    justify-content: center;
    display: flex;
    padding: 20px;
  }
  .active {
    color: darkblue;
    background-color: blueviolet;
  }
}

@media (max-width: 500px) {
  .mainContainer {
    .pButton {
      width: 20px;
      padding: 14px;
    }
  }
}
